.person {
  display: flex;
  border-bottom: 1px solid red;
  margin: 5px;
  padding: 5px;
}
.person-img {
  width: 35%;
  padding: 7px;
  border-right: 1px solid green;
}
.person-detail {
  width: 65%;
  padding: 7px;
  margin-left: 7px;
}
.detail-style {
  color: darkgray;
}
.cart-btn {
  height: 40px;
  width: 150px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 20px;
  padding: 8px;
}
.person-detail button:hover {
  background-color: green;
  cursor: pointer;
}
